<section class="top-visual">
	<h1 class="top-headline">ようこそ Bookers へ！</h1>
		<p class="top-text"><strong>Bookers</strong> では、様々な書籍に関するあなたの意見や<br>
			印象を共有し交換することができます</p>
	<%= link_to 'start', books_path, class:"top-link" %>
</section>